{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}

<div class="display-4 text-center">Our Team</div>
    <div class="container d-flex justify-content-center">
        <div class="row my-4" style="box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);border-radius: 20px;">
            <div class="col-md-3" style='border 2px solid black'>
                <div class="card about-card my-5" style="width: 18rem;">
                    <img src="https://media.licdn.com/dms/image/D4D03AQHnE21_I3zhiQ/profile-displayphoto-shrink_800_800/0/1691435523713?e=1711584000&v=beta&t=HNrzHAG-kGMm8fqkGsvynrO8BYywWosl8p4kHAr6Gwg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                                                <h5 class="card-title">Swayam Mahindroo</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">MongoDB Engineer</h6>
                      <p class="card-text">Specializes in creating efficient and scalable MongoDB database solutions.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3" >
                <div class="card about-card my-5" style="width: 18rem;">
                    <img src="https://media.licdn.com/dms/image/D4D03AQF_RVOZXeBFsQ/profile-displayphoto-shrink_800_800/0/1690173616293?e=1711584000&v=beta&t=R251k-PxQV-BNBEFIvEVByU56A7urFmGZ5KhzRDQ8Hk" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mehul Batra</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Backend Designer</h6>
                      <p class="card-text">Crafts server-side logic and database structures to power seamless functionality.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3" style='border 2px solid black'>
                <div class="card about-card my-5" style="width: 18rem;">
                    <img src=" https://media.licdn.com/dms/image/D4D03AQHNsDC3idSy4w/profile-displayphoto-shrink_800_800/0/1693768501704?e=1711584000&v=beta&t=e4qiFGrCp9wEjhK5Mxdpv92hkKxP0NVz8VqqgPLI32g" class="card-img-top" alt="...">
                   
                    <div class="card-body text-center">
                        <h5 class="card-title">Kanik Makhija</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Front End Designer</h6>
                      <p class="card-text">Designs intuitive user interfaces, ensuring a delightful user experience.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3" style='border 2px solid black'>
                <div class="card about-card my-5" style="width: 18rem;">
                    <img src="https://i.ibb.co/n3jXkG3/Untitled-design-41.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Gaurav Sardar</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Front End Designer</h6>
                      <p class="card-text">Melds creativity and functionality for a seamless and engaging digital experience.</p>
                    </div>
                  </div>
            </div>

        </div>
    </div>


{% endblock  %}